fastapi
uvicorn[standard]
python-multipart
python-dotenv
supabase
pypdf
pandas
requests
httpx

# spaCy & small model
spacy>=3.7.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
puremagic>=2.2.0
pdfplumber>=0.10.3
pypdf>=3.17.0
python-docx>=1.1.0